---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { generateDescription } from "../utils/generate-description.mts";

const bookEntries = await getCollection("book");
bookEntries.sort((a, b) => a.data.pageId - b.data.pageId);

const bookListWithDescription = bookEntries.map(entry => ({
  ...entry,
  description: generateDescription(entry, 100) 
}));
---

<Layout>
  <h1>部誌一覧</h1>
  <p>
    大阪星光学院天文部の部誌「The Scientific Seiko 2025」のウェブ版です．<br />
    著作権等の関係や，プライバシー保護のため，SF当日に配布した紙のバージョンとは一部が異なります．
  </p>
  <ul class="bookListSlot" data-pagefind-ignore>
    {bookListWithDescription.map(bookEntry => (
      <li>
        <p>
          <div class="noUnderline">
            <p><a href=`/book/${bookEntry.data.bookVer}/` >{bookEntry.data.bookVer}</a> p.{bookEntry.data.pageNo}，<a href=`/book/${bookEntry.data.kind}/` >{bookEntry.data.kind}</a></p>
          </div>
          <div>
            <a href=`/book/${bookEntry.slug}/` >
              <h2>{bookEntry.data.title}</h2>
            </a>
          </div>
          <div>
            <p class="summaryText">{bookEntry.description}</p>
          </div>
          <div>
            <p>{bookEntry.data.authorInitial}</p>
          </div>
        </p>
      </li>
    ))}
  </ul>
</Layout>