---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const bookEntries = await getCollection("book");


---

<Layout>
  <h1>部誌一覧</h1>
  <ul>
    {bookEntries.map(bookEntry => (
      <li>
        <a href={`/book/${bookEntry.slug}/`}>
          <div>
            <p>{bookEntry.data.pageNo}</p>
            <p>{bookEntry.data.kind}</p>
          </div>
          <div>
            <h2>{bookEntry.data.title}</h2>
          </div>
          <div>
            <p>{bookEntry.data.authorInitial}</p>
          </div>
        </a>
      </li>
    ))}
  </ul>
</Layout>

<style lang="scss">
  ul {
    list-style: none;
    padding: 0;
    li {
      border: 1px solid var(--foreground);
      padding: 10px;
      border-radius: 24px 10px;
      a {
        div {
          display: flex;
          p, h2 {
            margin: 0 2px;
          }
          p {
            color: var(--foreground);
            text-decoration: none;
          }
        }
      }
    }
  }
</style>