---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BackToList from "../../components/layoutFunc/BackToList.astro";

export async function getStaticPaths() {
  const bookEntries = await getCollection('book');
  return bookEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props;
const { Content } = await render( entry );
---

<Layout
  title=`${entry.data.title} | The Scientific Seiko 2025`
>
  <BackToList />
  <h1>{entry.data.title}</h1>
  <div class="subText">
    <p>
      <a href=`/book/${entry.data.bookVer}/` data-pagefind-filter="掲載巻">{entry.data.bookVer}</a>
       p.{entry.data.pageNo}，<a href=`/book/${entry.data.kind}/`>{entry.data.kind}</a><br />
      著者：{entry.data.authorInitial}
    </p>
  </div>
  <section class="mdxSection">
    <Content />
  </section>
</Layout>

<style lang="scss">
  .subText {
    p {
      color: var(--foreground-sub);
    
      a {
        text-decoration: none;
        color: var(--a-default);
        &:hover {
          color: var(--a-hover);
          text-decoration: underline;
        }
      }
    }
    text-align: center;
  }
  img {
    max-width: 100%;
  }
</style>