---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BackToList from "../../components/layoutFunc/BackToList.astro";

export async function getStaticPaths() {
  const bookEntries = await getCollection('book');
  return bookEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props;
const { Content } = await render( entry );
---

<Layout>
  <BackToList />
  <h1>{entry.data.title}</h1>
  <div class="subText">
    <p>
      {entry.data.bookVer} p.{entry.data.pageNo}，{entry.data.kind}<br />
      著者：{entry.data.authorInitial}
    </p>
  </div>
  <Content />
</Layout>

<style lang="scss">
  .subText {
    opacity: 0.7;
    text-align: center;
  }
</style>