---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import BackToList from "../../components/layoutFunc/BackToList.astro";

export async function getStaticPaths() {
  const allEntries = await getCollection('book');

  const uniqueBookVer = [...new Set(allEntries.map((entry) => entry.data.bookVer))];

  return uniqueBookVer.map((bookVer) => {
    const entries = allEntries.filter((entry) => entry.data.bookVer === bookVer);

    return {
      params: {bookVer: bookVer},
      props: {bookVer: bookVer, entries: entries}
    };
  });
};

const { bookVer } = Astro.props;

const filteredEntries = await getCollection('book', ({ data }) => {
  return data.bookVer === bookVer;
});
filteredEntries.sort((a, b) => a.data.pageId - b.data.pageId);

const title = `${bookVer}の記事 | The Scientific Seiko 2025`;
---

<Layout
  title={title}
>
  <BackToList />
  <h1>{bookVer}の記事</h1>
  <ul data-pagefind-ignore class="bookListSlot">
    {filteredEntries.map(bookEntry => (
      <li>
        <p>
          <div class="noUnderline">
            <p>{bookEntry.data.bookVer} p.{bookEntry.data.pageNo}，<a href=`/book/${bookEntry.data.kind}/` >{bookEntry.data.kind}</a></p>
          </div>
          <div>
            <a href=`/book/${bookEntry.slug}/` >
              <h2>{bookEntry.data.title}</h2>
            </a>
          </div>
          <div>
            <p>{bookEntry.data.authorInitial}</p>
          </div>
        </p>
      </li>
    ))}
  </ul>
</Layout>